@model IEnumerable<NetCoreSeguridadEmpleados.Models.Empleado>

@{
    ViewData["Title"] = "Compis";
}

<h1>Compis</h1>

{
    <p>
        <a asp-action="EditAll">Editar Todos</a>
    </p>
}
)


<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Context.User.IsInRole("PRESIDENTE") || Context.User.IsInRole("DIRECTOR"))
{
    <form method="post" action="OtroMetodo">
    <label for="incremento">Incremento Salarial:</label>
    <input type="number" id="incremento" name="incremento">
        <button type="submit" class="btn btn-primary">Aplicar Incremento</button>
</form>
    
}





<table class="table table-warning">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDepartamento)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oficio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDepartamento)
                </td>
            </tr>
        }
    </tbody>
</table>